<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- css -->
        <link rel="stylesheet" href="/camputFront/css/notice.css" />
        <!--    스크립트 -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- 아이콘 -->
        <script src="https://kit.fontawesome.com/946fabfe17.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 공지사항 -->
    <div class="wrap">
        <header>
            <div class="Logo"></div>
            <div class="nav">
                <ul class="menuBtn">
                    <li class="nologin"><a href="login.html">Login</a></li>
                    <li class="join"><a href="join.html">Join</a></li>
                    <li class="menu">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                        <ul class="miniMenu">
                            <li class="notice gnb_menu"><a href=""> 공지사항</a></li>
                            <li class="qandA gnb_menu"><a href=""> Q & A</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 메뉴 -->
            <div class="menu" style="display: none;">
                <ul class="menuBtn">
                    <li class="login"><a href="login.html">마이페이지</a></li>
                    <li class="join"><a href="join.html">로그아웃</a></li>
                    <li class="menu">
                    <a href="#"><i class="fa-solid fa-bars"></i></a>
                        <ul class="miniMenu" style="display: none;">
                            <li class="qandA gnb_menu">위시리스트</li>
                            <li class="qandA gnb_menu">예약리스트</li>
                            <li class="notice gnb_menu">공지사항</li>
                            <li class="qandA gnb_menu">Q & A</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="boardQ">
            <div class="boardTop">
                <div class="boardTitle">
                    <a href="notice"> 공지사항 </a>
                </div>
            </div>
            <div class="boardMain">
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardList"><a href="">
                    <div class="txtLeft">
                        <h1>[공지]..월..일 업데이트 예정</h1>
                        <span>2023.01.18</span>
                    </div>
                    <div class="txtRight">
                        <span>번호 01</span>
                        <p>조회수</p>
                    </div>
                </a></div>
                <div class="boardNum">
                    1,2,3,4,5 >
                </div>
            </div>
        </div>
    </div>
</body>
</html>